$snp-yellow: #ffeb4d;
$white: #fff;
$light-grey: #ccc;
$dark-grey: #999;
$snp-black: #334141;
$super-light-grey: #f5f5f5;

html, body, .site {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 14px;
  font-weight: 600;
  color: $snp-black;
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.container {
  padding-right: .9375rem;
  padding-left: .9375rem;
  margin-right: auto;
  margin-left: auto;
}

a {
  color: $snp-black;
  text-decoration: none;
}

// TOP BAR
.top-bar {
  padding: 15px;
  border-bottom: .5px solid $light-grey;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    div:last-child {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      a {
        border-right: 2px solid $light-grey;
        padding: 0 20px
      }
      a:last-child {
        border-right: none;
      }
    }
  }
}
// // TOP BAR

// SITE HEADER
.site-header {
  height: 130px;
  display: block;
  .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .header-logo {
      img {
        width: 200px
      }
    }
    .header-options {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 1.071em;
      div {
        padding: 0 20px;
      }
    }
  }
}
// // SITE HEADER

// SEARCH BAR
.search-bar {
  height: 60px;
  background-color: $snp-yellow;
  .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .search-field {
      height: 50px;
      background-color: $white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
// // SEARCH BAR

// SITE CONTENT
.site-content {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
// // SITE CONTENT

// CONTENT AREA
.content-area {
  width: 100%;

  .product-detail {

    header {
      border-bottom: .5px solid $light-grey;
      width: 100%;
      height: 60px;

      .product-name {
        line-height: 3;
        height: 59px;
        float: left;
        font-size: 1.5em;
        border-bottom: 2px solid $snp-yellow;
      }
    }

    .product-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .description {
        padding: 30px;
        width: 75%;
      }

      .image {
        width: 25%;
      }
    }
  }

  .product-list {

    .page-bar {
      width: 100%;
      height: 60px;
      border-radius: 5px;
      background-color: $super-light-grey;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      .pagination {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 15px;
        float: right;
        color: $dark-grey;

        input {
          border: 1px solid $light-grey;
          text-align: center;
          font-size: 18px;
          width: 50px;
          height: 35px;
          border-radius: 1.467em;
          margin-right: 15px;
          color: $dark-grey;
        }

        a {
          color: $dark-grey;
          margin-left: 15px;
        }
      }
    }

    .list-content {
      display: flex;
      flex-direction: column;

      .list-item-container {
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: .5px solid $light-grey;

        .image-container {
          width: 50%;
          img {
            width: 100%;
          }
        }

        .desc-container {
          width: 100%;
          padding: 15px;

          p {
            font-weight: 200;
            color: #888;
          }
          .product-availability {
            span {
              color: green;
            }
          }
        }

        .control-container {

          height: auto;
          border-radius: 20px;
          background-color: #aeaeae;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: stretch;
          padding: 15px;

          .control-corte {
            flex-grow: 2;
          }
          .control-cantidad {
            flex-grow: 1;
          }

          .control-corte, .control-cantidad {
            background-color: #fff;
            height: 34px;
            border-radius: 40px;
            border: none;
            margin-bottom: 15px;

            select {
              border: none;
              width: 80%;
              margin: 5px;
            }
          }

          .quote-button {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            height: 34px;
            background-color: $snp-yellow;
            border-radius: 40px;
            color: #000;
            text-align: center;

            .add-to-cart::before {
              font: normal normal normal 14px/1 font-electro;
              margin-right: 6px;
              content: "\61";
              vertical-align: middle;
            }
          }
        }

      }
    }
    .page-footer {
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .show-items-select {
        border-radius: 20px;
        color: #7e7e7e;
        border: 1px solid #e3e3e3;
        width: 100px;
        height: 35px;
        margin-right: 30px;
        select {
          color: $dark-grey;
          margin: 8px;
          font-size: 14px;
          border: none;
          background-color: transparent;
        }
      }
      .page-numbers {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        .page-number {
          height: 40px;
          width: 40px;
          background-color: $white;
          color: $light-grey;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
          border: .5px solid $light-grey;
          margin-left: 15px;
        }
        .page-number.current {
          background-color: $snp-yellow;
          color: $snp-black;
          border: none;
        }
        .page-number.next {
          border: none;
        }
      }
    }
  }
}
// // CONTENT AREA

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea, .input-text {
    padding: 0.857em 1.214em;
    background-color: transparent;
    color: #818181;
    line-height: 1.286em;
    outline: none;
    border: 0;
    -webkit-appearance: none;
    border-radius: 1.571em;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
  }

// CART AREA
.content-area {
  width: 100%;

  .cart-detail {

    header {
      width: 100%;
      height: 60px;
      text-align: center;
      margin-bottom: 30px;

      .title {
        line-height: 2;
        height: 59px;
        font-size: 2.857em;
        letter-spacing: -0.025em;
      }
    }
    table.cart {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1.236rem;

      thead {

        th {
          font-size: 1em;
          line-height: 1.714em;
          color: #747474;
          border-bottom: 1px solid #ddd;
          border-top: none;
          font-weight: normal;
          text-align: left;
        }
      }

      td {
        vertical-align: middle;
        font-size: 1.214em;
        line-height: 1.147em;
      }
      tbody {
        tr.cart_item td {
          border-top: none;
          padding-top: 1.029em;
          padding-bottom: 1.029em;
        }
        tr.cart_item:first-child td {
          padding-top: 2.059em;
        }
      }
      .product-thumbnail {
        width: 136px;
        img {
          display: block;
          max-width: 100%;
          height: auto;
          max-width: 100px;
          margin: auto;
          height: 92px;
          width: auto;
          border: 1px solid #ddd;
          padding: 4px;
        }
      }
      .product-quantity {
        label {
          display: none;
        }
        .quantity.buttons_added {
          width: 8em;
          font-size: 0.824em;
          position: relative;
          input {
            width: 100%;
          }
          .plus {
              right: 30px;
              margin-right: 30px;
          }
          .minus, .plus {
              width: 1.429em;
              height: 1.429em;
              border-radius: 50%;
              border: none;
              background-color: $light-grey;
              font-size: 1em;
              font-weight: bold;
              color: #333e48;
              padding: 0;
              text-align: center;
              line-height: 1.429em;
              position: absolute;
              bottom: 0.536em;
              right: 0.536em;
              display: inline-block;
          }
        }
      }

      .actions {
        text-align: right;
        font-size: 1em;
        padding-top: 5.714em;
        border-top: 1px solid $light-grey;
        margin-bottom: 30px;
        
        .checkout-button {
          font-size: 16px;
          border-radius: 1.571em;
          padding: 1.036em 2.134em;
          border-width: 0;
          display: inline-block;
          color: #333e48;
          background-color: #fed700;
          border-color: #fed700;
        }
      }
    }
    .cart-collaterals {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      .cart_totals {
        width: 42%;
        header {
          border-bottom: .5px solid $light-grey;
          width: 100%;
          height: 60px;

          div {
            line-height: 3;
            height: 59px;
            float: left;
            font-size: 20px;
            border-bottom: 2px solid $snp-yellow;
          }
        }
        table {
          width: 100%;
          tr {
            width: 100%;
          }
          tr:first-child {
            th, td {
              border-top-width: 0;
            }
          }
          th {
            text-align: left;
          }
          td {
            text-align: right;
            .shipping-calculator-button {
              font-size: 12px;
            }
          }
          th,  td {
            padding: 0.75rem;
            line-height: 1.5;
            vertical-align: top;
            border-top: 1px solid #eceeef;
          }
        }
        .actions {
          text-align: right;
          font-size: 1em;
          padding-top: 5.714em;
          border-top: 1px solid $light-grey;
          margin-bottom: 30px;

          .checkout-button {
            font-size: 16px;
            border-radius: 1.571em;
            padding: 1.036em 2.134em;
            border-width: 0;
            display: inline-block;
            color: #333e48;
            background-color: #fed700;
            border-color: #fed700;
          }
        }
      }
    }
  }
}


// // CART AREA

// MODAL COMPONENT

.customcut-modal {
  display: block;
  border: 2px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  z-index: 1002;
  outline: 0px;
  position: absolute;
  height: auto;
  width: auto;
  border: .5px solid $light-grey;

  .customcut-header {
    height: 40px;
    padding: 5px;
    background-color: $snp-yellow;

    .customcut-title {
      display: none;
    }
    .close-button {
      float: right;
      background-color: #fff;
      height: 30px;
      width: 30px;
      border-radius: 5px;
      padding: 3px 10px 5px 10px;
      span {
        color: #aaa;
      }
    }
  }

  .customcut-content {
    width: auto;
    min-height: 50px;
    height: auto;
    padding: 0 15px;
    input {
      background-color: #fff;
      height: 34px;
      border-radius: 40px;
      border: .5px solid $light-grey;
    }
  }

  .customcut-footer {
    padding: 15px;

    .customcut-buttons {
      text-align: right;

      .customcut-cancel {
        border: .5px solid #aaa !important;
        background-color: #fff !important;
        color: #aaa !important;
      }

      .customcut-quote {
        background-color: $snp-yellow !important;
        color: #000 !important;

        .add-to-cart::before {
          font: normal normal normal 14px/1 font-electro;
          margin-right: 6px;
          content: "\61";
          vertical-align: middle;
        }
      }
    }
  }
}

// // MODAL COMPONENT




@media (min-width: 544px) {
  .container {
      max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }

  .content-area {
    .product-detail {
      .product-description {
        flex-direction: row;
        justify-content: space-between;
      }
    }
    .product-list {
      .list-content {
        .list-item-container {
          flex-direction: row;
          justify-content: space-around;
          .image-container {
            width: 20%;
          }
          .desc-container {
            width: 40%;
          }
          .control-container {
            align-self: flex-end;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .container {
      max-width: 940px;
  }
  .content-area {
    .product-list {
      .list-content {
        .list-item-container {
          .control-container {
            width: 40%;
            border-radius: 40px;
            margin-bottom: 20px;
            padding: 0 0 0 5px;
            height: 44px;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .control-corte {
              flex-grow: 2;
            }
            .control-cantidad {
              flex-grow: 1;
            }
            .control-corte, .control-cantidad {
              background-color: #fff;
              height: 34px;
              border-radius: 40px;
              border: none;
              margin-right: 5px;
              margin-bottom: 0;
              select {
                border: none;
                width: 80%;
                margin: 5px;
              }
            }

            .quote-button {
              position: relative;
              left: 1px;
              flex-grow: 1;
              background-color: $snp-yellow;
              height: 44px;
              border-radius: 0 40px 40px 0;
              color: #000;
            }
          }
        }
      }
    }
  }

}
@media (min-width: 1200px) {
  .container {
      max-width: 1200px;
  }
}
@media (min-width: 768px) {
  .media-body .col-md-6 {
    width: 50% !important
  }
}
