html, body, .site {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 14px;
  font-weight: 600;
  color: #334141;
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.container {
  padding-right: .9375rem;
  padding-left: .9375rem;
  margin-right: auto;
  margin-left: auto; }

a {
  color: #334141;
  text-decoration: none; }

.top-bar {
  padding: 15px;
  border-bottom: 0.5px solid #ccc; }
  .top-bar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px; }
    .top-bar .container div:last-child {
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      .top-bar .container div:last-child a {
        border-right: 2px solid #ccc;
        padding: 0 20px; }
      .top-bar .container div:last-child a:last-child {
        border-right: none; }

.site-header {
  height: 130px;
  display: block; }
  .site-header .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .site-header .container .header-logo img {
      width: 200px; }
    .site-header .container .header-options {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 1.071em; }
      .site-header .container .header-options div {
        padding: 0 20px; }

.search-bar {
  height: 60px;
  background-color: #ffeb4d; }
  .search-bar .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .search-bar .container .search-field {
      height: 50px;
      background-color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }

.site-content .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.content-area {
  width: 100%; }
  .content-area .product-detail header {
    border-bottom: 0.5px solid #ccc;
    width: 100%;
    height: 60px; }
    .content-area .product-detail header .product-name {
      line-height: 3;
      height: 59px;
      float: left;
      font-size: 1.5em;
      border-bottom: 2px solid #ffeb4d; }
  .content-area .product-detail .product-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .content-area .product-detail .product-description .description {
      padding: 30px;
      width: 75%; }
    .content-area .product-detail .product-description .image {
      text-align: center;
      width: 100%; }
  .content-area .product-list .page-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #ccc; }
    .content-area .product-list .page-bar .pagination {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 15px;
      float: right;
      color: #999; }
      .content-area .product-list .page-bar .pagination input {
        border: 1px solid #ccc;
        text-align: center;
        font-size: 18px;
        width: 50px;
        height: 35px;
        border-radius: 5px;
        margin-right: 15px;
        color: #999; }
      .content-area .product-list .page-bar .pagination a {
        color: #999;
        margin-left: 15px; }
  .content-area .product-list .list-content {
    display: flex;
    flex-direction: column; }
    .content-area .product-list .list-content .list-item-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 0.5px solid #ccc; }
      .content-area .product-list .list-content .list-item-container .image-container img {
        width: 150px; }
      .content-area .product-list .list-content .list-item-container .desc-container {
        width: 80%; }
        .content-area .product-list .list-content .list-item-container .desc-container p {
          font-weight: 200;
          color: #888; }
        .content-area .product-list .list-content .list-item-container .desc-container .product-availability span {
          color: green; }
      .content-area .product-list .list-content .list-item-container .control-container {
        width: 260px;
        height: auto;
        border-radius: 5px;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding: 15px; }
        .content-area .product-list .list-content .list-item-container .control-container .control-form {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: stretch; }
        .content-area .product-list .list-content .list-item-container .control-container .quantity.buttons_added {
          width: 50%;
          font-size: 0.824em;
          position: relative; }
          .content-area .product-list .list-content .list-item-container .control-container .quantity.buttons_added input {
            width: 100%;
            height: 34px;
            border-radius: 5px;
            border: 0.5px solid #ccc; }
          .content-area .product-list .list-content .list-item-container .control-container .quantity.buttons_added .plus {
            right: 30px;
            margin-right: 30px; }
          .content-area .product-list .list-content .list-item-container .control-container .quantity.buttons_added .qty {
            background-color: #fff; }
          .content-area .product-list .list-content .list-item-container .control-container .quantity.buttons_added .minus, .content-area .product-list .list-content .list-item-container .control-container .quantity.buttons_added .plus {
            width: 1.429em;
            height: 1.429em;
            border-radius: 50%;
            border: none;
            background-color: #ccc;
            font-size: 1em;
            font-weight: bold;
            color: #333e48;
            padding: 0;
            text-align: center;
            line-height: 1.429em;
            position: absolute;
            bottom: 24px;
            right: 0.536em;
            display: inline-block; }
        .content-area .product-list .list-content .list-item-container .control-container .control-corte, .content-area .product-list .list-content .list-item-container .control-container .control-cantidad {
          width: 50%;
          background-color: #fff;
          height: 34px;
          border-radius: 5px;
          border: 0.5px solid #ccc;
          margin-bottom: 15px; }
        .content-area .product-list .list-content .list-item-container .control-container .control-cantidad {
          padding-left: 10px; }
        .content-area .product-list .list-content .list-item-container .control-container .control-corte {
          height: 34px;
          margin-right: 10px; }
        .content-area .product-list .list-content .list-item-container .control-container .quote-button {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-grow: 1;
          height: 34px;
          background-color: #ffeb4d;
          border-radius: 5px;
          color: #000;
          text-align: center; }
          .content-area .product-list .list-content .list-item-container .control-container .quote-button .add-to-cart::before {
            font: normal normal normal 14px/1 font-electro;
            margin-right: 6px;
            content: "\61";
            vertical-align: middle; }
  .content-area .product-list .page-footer-text {
    height: 0; }
    .content-area .product-list .page-footer-text p {
      text-align: center; }
  .content-area .product-list .page-footer {
    height: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .content-area .product-list .page-footer .show-items-select {
      border-radius: 5px;
      color: #7e7e7e;
      border: 1px solid #e3e3e3;
      width: 100px;
      height: 35px;
      margin-right: 30px; }
      .content-area .product-list .page-footer .show-items-select select {
        color: #999;
        margin: 8px;
        font-size: 14px;
        border: none;
        background-color: transparent; }
    .content-area .product-list .page-footer .page-numbers {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center; }
      .content-area .product-list .page-footer .page-numbers .page-number {
        height: 40px;
        width: 40px;
        background-color: #fff;
        color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: 0.5px solid #ccc;
        margin-left: 15px; }
      .content-area .product-list .page-footer .page-numbers .page-number.current {
        background-color: #ffeb4d;
        color: #334141;
        border: none; }
      .content-area .product-list .page-footer .page-numbers .page-number.next {
        border: none; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea, .input-text {
  padding: 0.857em 1.214em;
  background-color: transparent;
  color: #818181;
  line-height: 1.286em;
  outline: none;
  border: 0;
  -webkit-appearance: none;
  border-radius: 5px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd; }

.content-area {
  width: 100%; }
  .content-area header {
    width: 100%;
    height: 60px;
    text-align: center;
    margin-bottom: 30px; }
    .content-area header .title {
      line-height: 2;
      height: 59px;
      font-size: 2.857em;
      letter-spacing: -0.025em; }
  .content-area .cart-detail header {
    border-bottom: 0.5px solid #ccc;
    width: 100%;
    height: 60px; }
    .content-area .cart-detail header .title {
      line-height: 3;
      height: 59px;
      float: left;
      font-size: 1.5em;
      border-bottom: 2px solid #ffeb4d; }
  .content-area .cart-detail table.cart {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.236rem; }
    .content-area .cart-detail table.cart thead th {
      font-size: 1em;
      line-height: 1.714em;
      color: #747474;
      border-bottom: 1px solid #ddd;
      border-top: none;
      font-weight: normal;
      text-align: left;
      margin-bottom: 10px; }
    .content-area .cart-detail table.cart td {
      vertical-align: middle;
      font-size: 1.214em;
      line-height: 1.147em; }
    .content-area .cart-detail table.cart tbody .product-desc,
    .content-area .cart-detail table.cart tbody .product-status,
    .content-area .cart-detail table.cart tbody .product-price {
      font-weight: 100; }
    .content-area .cart-detail table.cart tbody tr.cart_item td {
      border-top: none;
      padding-top: 1.029em;
      padding-bottom: 1.029em; }
    .content-area .cart-detail table.cart tbody tr.cart_item:first-child td {
      padding-top: 2.059em; }
    .content-area .cart-detail table.cart .product-thumbnail {
      width: 136px; }
      .content-area .cart-detail table.cart .product-thumbnail img {
        display: block;
        max-width: 100%;
        height: auto;
        max-width: 100px;
        margin: auto;
        height: 92px;
        width: auto;
        border: 1px solid #ddd;
        padding: 4px; }
    .content-area .cart-detail table.cart .product-quantity label {
      display: none; }
    .content-area .cart-detail table.cart .product-quantity .quantity.buttons_added {
      width: 8em;
      font-size: 0.824em;
      position: relative; }
      .content-area .cart-detail table.cart .product-quantity .quantity.buttons_added input {
        width: 100%;
        border-radius: 5px; }
      .content-area .cart-detail table.cart .product-quantity .quantity.buttons_added .plus {
        right: 30px;
        margin-right: 30px; }
      .content-area .cart-detail table.cart .product-quantity .quantity.buttons_added .minus, .content-area .cart-detail table.cart .product-quantity .quantity.buttons_added .plus {
        width: 1.429em;
        height: 1.429em;
        border-radius: 50%;
        border: none;
        background-color: #ccc;
        font-size: 1em;
        font-weight: bold;
        color: #333e48;
        padding: 0;
        text-align: center;
        line-height: 1.429em;
        position: absolute;
        bottom: 0.536em;
        right: 0.536em;
        display: inline-block; }
    .content-area .cart-detail table.cart .actions {
      text-align: right;
      font-size: 1em;
      padding-top: 5.714em;
      border-top: 1px solid #ccc;
      margin-bottom: 30px; }
      .content-area .cart-detail table.cart .actions .checkout-button {
        font-size: 16px;
        border-radius: 5px;
        padding: 1.036em 2.134em;
        border-width: 0;
        display: inline-block;
        color: #333e48;
        background-color: #fed700;
        border-color: #fed700; }
  .content-area .cart-detail .cart-collaterals {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .content-area .cart-detail .cart-collaterals .cart_totals {
      width: 42%; }
      .content-area .cart-detail .cart-collaterals .cart_totals header {
        border-bottom: 0.5px solid #ccc;
        width: 100%;
        height: 60px; }
        .content-area .cart-detail .cart-collaterals .cart_totals header div {
          line-height: 3;
          height: 59px;
          float: left;
          font-size: 20px;
          border-bottom: 2px solid #ffeb4d; }
      .content-area .cart-detail .cart-collaterals .cart_totals table {
        width: 100%; }
        .content-area .cart-detail .cart-collaterals .cart_totals table tr {
          width: 100%; }
        .content-area .cart-detail .cart-collaterals .cart_totals table tr:first-child th, .content-area .cart-detail .cart-collaterals .cart_totals table tr:first-child td {
          border-top-width: 0; }
        .content-area .cart-detail .cart-collaterals .cart_totals table th {
          text-align: left; }
        .content-area .cart-detail .cart-collaterals .cart_totals table td {
          text-align: right; }
          .content-area .cart-detail .cart-collaterals .cart_totals table td .shipping-calculator-button {
            font-size: 12px; }
        .content-area .cart-detail .cart-collaterals .cart_totals table th, .content-area .cart-detail .cart-collaterals .cart_totals table td {
          padding: 0.75rem;
          line-height: 1.5;
          vertical-align: top;
          border-top: 1px solid #eceeef; }
      .content-area .cart-detail .cart-collaterals .cart_totals .actions {
        text-align: right;
        font-size: 1em;
        padding-top: 5.714em;
        border-top: 1px solid #ccc;
        margin-bottom: 30px; }
        .content-area .cart-detail .cart-collaterals .cart_totals .actions .checkout-button {
          font-size: 16px;
          border-radius: 5px;
          padding: 1.036em 2.134em;
          border-width: 0;
          display: inline-block;
          color: #333e48;
          background-color: #fed700;
          border-color: #fed700; }

.content-area {
  width: 100%; }
  .content-area .checkout-detail header {
    width: 100%;
    height: 60px;
    text-align: center;
    margin-bottom: 30px; }
    .content-area .checkout-detail header .title {
      line-height: 2;
      height: 59px;
      font-size: 2.857em;
      letter-spacing: -0.025em; }
  .content-area .checkout-detail .mail-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    .content-area .checkout-detail .mail-details .billing-details {
      width: 50%;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .content-area .checkout-detail .mail-details .billing-details header {
        border-bottom: 0.5px solid #ccc;
        width: 100%;
        height: 60px; }
        .content-area .checkout-detail .mail-details .billing-details header div {
          line-height: 3;
          height: 59px;
          float: left;
          font-size: 20px;
          border-bottom: 2px solid #ffeb4d; }
      .content-area .checkout-detail .mail-details .billing-details .form-double-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch; }
        .content-area .checkout-detail .mail-details .billing-details .form-double-row .form-row:first-child {
          padding-right: 30px; }
      .content-area .checkout-detail .mail-details .billing-details .form-row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        padding: 15px 0; }
        .content-area .checkout-detail .mail-details .billing-details .form-row input {
          margin-top: 15px; }
    .content-area .checkout-detail .mail-details .shipping-details {
      width: 50%;
      padding: 15px; }
      .content-area .checkout-detail .mail-details .shipping-details header {
        border-bottom: 0.5px solid #ccc;
        width: 100%;
        height: 60px; }
        .content-area .checkout-detail .mail-details .shipping-details header div {
          line-height: 3;
          height: 59px;
          float: left;
          font-size: 20px;
          border-bottom: 2px solid #ffeb4d; }
      .content-area .checkout-detail .mail-details .shipping-details .form-row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        padding: 15px 0;
        margin: 15px 0; }
        .content-area .checkout-detail .mail-details .shipping-details .form-row textarea {
          margin-top: 15px;
          min-height: 10em; }
  .content-area .checkout-detail .order-details {
    width: 100%;
    padding: 15px; }
    .content-area .checkout-detail .order-details header {
      border-bottom: 0.5px solid #ccc;
      width: 100%;
      height: 60px; }
      .content-area .checkout-detail .order-details header div {
        line-height: 3;
        height: 59px;
        float: left;
        font-size: 20px;
        border-bottom: 2px solid #ffeb4d; }
    .content-area .checkout-detail .order-details .checkout-review-order table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1.236rem;
      text-align: left; }
      .content-area .checkout-detail .order-details .checkout-review-order table th, .content-area .checkout-detail .order-details .checkout-review-order table td {
        padding: 0.75rem;
        line-height: 1.5;
        vertical-align: top;
        border-top: 1px solid #eceeef; }
      .content-area .checkout-detail .order-details .checkout-review-order table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #eceeef; }
      .content-area .checkout-detail .order-details .checkout-review-order table tbody td {
        padding: 0.75rem;
        line-height: 1.5;
        vertical-align: top;
        border-top: 1px solid #eceeef; }
      .content-area .checkout-detail .order-details .checkout-review-order table tbody tr:first-child td {
        border-top: 0; }
    .content-area .checkout-detail .order-details .checkout-review-order .checkout-payment {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      border-top: 1px solid #ccc; }
      .content-area .checkout-detail .order-details .checkout-review-order .checkout-payment .payment_method {
        padding: 20px 15px;
        border-bottom: 0.5px dotted #ccc; }
        .content-area .checkout-detail .order-details .checkout-review-order .checkout-payment .payment_method img {
          width: 60px;
          position: absolute;
          left: 85%; }
      .content-area .checkout-detail .order-details .checkout-review-order .checkout-payment .payment_method.payment_box {
        background: rgba(0, 0, 0, 0.035);
        padding: 15px; }
      .content-area .checkout-detail .order-details .checkout-review-order .checkout-payment .payment_check {
        padding: 20px 15px; }
      .content-area .checkout-detail .order-details .checkout-review-order .checkout-payment .payment-button {
        border: none;
        background-color: #ffeb4d;
        color: #334141;
        border-radius: 5px;
        font-size: 20px;
        padding: 15px;
        font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.customcut-modal {
  display: block;
  border: 2px solid #fff;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  z-index: 1002;
  outline: 0px;
  position: absolute;
  height: auto;
  width: auto;
  border: 0.5px solid #ccc; }
  .customcut-modal .customcut-header {
    height: 40px;
    padding: 5px;
    background-color: #ffeb4d; }
    .customcut-modal .customcut-header .customcut-title {
      display: none; }
    .customcut-modal .customcut-header .close-button {
      float: right;
      background-color: #fff;
      height: 25px;
      width: 30px;
      font-size: 16px;
      border-radius: 5px;
      color: #aaa;
      text-align: center;
      padding-top: 4px; }
  .customcut-modal .customcut-content {
    width: auto;
    min-height: 50px;
    height: auto;
    padding: 0 15px; }
    .customcut-modal .customcut-content .cut-header {
      height: 40px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 12px; }
      .customcut-modal .customcut-content .cut-header .cut-header-quantity {
        width: 25%; }
      .customcut-modal .customcut-content .cut-header .cut-header-desc {
        width: 75%;
        padding-left: 15px; }
    .customcut-modal .customcut-content .cut-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
      .customcut-modal .customcut-content .cut-list .cut-item {
        height: 60px;
        display: flex;
        justify-content: flex-start; }
        .customcut-modal .customcut-content .cut-list .cut-item .cut-title {
          display: none; }
        .customcut-modal .customcut-content .cut-list .cut-item input, .customcut-modal .customcut-content .cut-list .cut-item select, .customcut-modal .customcut-content .cut-list .cut-item .cut-label {
          margin-right: 10px; }
        .customcut-modal .customcut-content .cut-list .cut-item input {
          width: 75px; }
        .customcut-modal .customcut-content .cut-list .cut-item .cut-item-quantity {
          width: 25%;
          display: flex;
          justify-content: flex-start;
          align-items: center; }
        .customcut-modal .customcut-content .cut-list .cut-item .cut-item-desc {
          width: 75%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 15px;
          border-left: 1px solid #ccc; }
    .customcut-modal .customcut-content .cut-plus {
      float: right;
      width: 15%;
      margin-top: 15px;
      background-color: #fff;
      color: #999;
      border: 1px solid #ccc;
      font-size: 22px;
      text-align: center;
      border-radius: 5px; }
    .customcut-modal .customcut-content .cut-tolerance {
      font-size: 11px;
      margin-top: 10px;
      font-style: italic;
      color: #ccc; }
    .customcut-modal .customcut-content .cut-notice {
      padding-top: 25px; }
    .customcut-modal .customcut-content input, .customcut-modal .customcut-content select {
      background-color: #fff;
      height: 34px;
      border-radius: 5px;
      border: 0.5px solid #ccc; }
  .customcut-modal .customcut-footer {
    padding: 15px; }
    .customcut-modal .customcut-footer .customcut-buttons {
      text-align: right; }
      .customcut-modal .customcut-footer .customcut-buttons button {
        font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        border-radius: 5px;
        padding: 1.036em 2.134em;
        border-width: 0;
        display: inline-block;
        color: #334141;
        background-color: #efecec;
        border-color: #efecec; }
      .customcut-modal .customcut-footer .customcut-buttons .customcut-cancel {
        border: .5px solid #aaa !important;
        background-color: #fff !important;
        color: #aaa !important; }
      .customcut-modal .customcut-footer .customcut-buttons .customcut-quote {
        background-color: #ffeb4d !important;
        color: #000 !important; }
        .customcut-modal .customcut-footer .customcut-buttons .customcut-quote .add-to-cart::before {
          font: normal normal normal 14px/1 font-electro;
          margin-right: 6px;
          vertical-align: middle; }

@media (min-width: 544px) {
  .container {
    max-width: 576px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; }
  .content-area .product-detail .product-description {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
  .content-area .product-list .list-content .list-item-container {
    flex-direction: row; }
    .content-area .product-list .list-content .list-item-container .image-container {
      width: 20%; }
    .content-area .product-list .list-content .list-item-container .desc-container {
      width: 40%; } }

@media (min-width: 992px) {
  .container {
    max-width: 940px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

@media (max-width: 991px) {
  .content-area .checkout-detail .mail-details .billing-details .form-double-row {
    flex-direction: column; }
    .content-area .checkout-detail .mail-details .billing-details .form-double-row .form-row:first-child {
      padding-right: 30px; }
  .content-area .checkout-detail .order-details {
    padding: 0; }
    .content-area .checkout-detail .order-details .checkout-review-order .checkout-payment .payment_method img {
      left: 78%; } }

@media (max-width: 767px) {
  .content-area .product-list .page-footer-text {
    height: 30px; }
  .list-content .list-item-container .control-container {
    margin-bottom: 15px; }
  .customcut-modal .customcut-content .cut-header {
    display: none; }
    .customcut-modal .customcut-content .cut-header .cut-header-desc {
      padding-left: 0; }
  .customcut-modal .customcut-content .cut-list .cut-item {
    margin-top: 15px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .customcut-modal .customcut-content .cut-list .cut-item .cut-title {
      display: block;
      margin-bottom: 5px;
      font-size: 12px; }
    .customcut-modal .customcut-content .cut-list .cut-item .cut-item-quantity {
      margin-bottom: 15px; }
    .customcut-modal .customcut-content .cut-list .cut-item .cut-item-desc {
      padding-bottom: 15px;
      width: 100%;
      padding-left: 0;
      border-left: 0;
      border-bottom: 1px solid #ccc; }
  .content-area .checkout-detail .mail-details {
    flex-direction: column; }
    .content-area .checkout-detail .mail-details .billing-details,
    .content-area .checkout-detail .mail-details .shipping-details {
      width: 100%;
      padding: 0; }
  table.cart thead {
    display: none; }
  table.cart tr.cart_item:first-child td {
    padding-top: 5px !important; }
  table.cart .cart_item:last-child {
    border-bottom: none !important; }
    table.cart .cart_item:last-child td {
      padding-top: 5px !important; }
  table.cart tr.cart_item {
    border-bottom: 1px solid #eaeaea;
    display: block;
    margin-bottom: 15px; }
    table.cart tr.cart_item td {
      text-align: right;
      display: block;
      padding-top: 5px !important; }
    table.cart tr.cart_item td.product-id:before,
    table.cart tr.cart_item td.product-desc:before,
    table.cart tr.cart_item td.product-size:before,
    table.cart tr.cart_item td.product-status:before,
    table.cart tr.cart_item td.product-name:before,
    table.cart tr.cart_item td.product-price:before,
    table.cart tr.cart_item td.product-quantity:before,
    table.cart tr.cart_item td.product-subtotal:before {
      content: attr(data-title) ": ";
      float: left;
      font-weight: 700; }
    table.cart tr.cart_item td.product-thumbnail,
    table.cart tr.cart_item td.actions,
    table.cart tr.cart_item td.order-actions {
      text-align: left; }
    table.cart tr.cart_item td.product-thumbnail {
      display: none; }
    table.cart tr.cart_item td.product-quantity {
      height: 20px; }
      table.cart tr.cart_item td.product-quantity .quantity.buttons_added {
        float: right; }
  .content-area .cart-detail .cart-collaterals .cart_totals {
    width: 100%; } }
